<main class="main">
    <img src="./dist/img/filtr-off.png" alt="filtr__off" class="filtr-off">
    {% set wallpapers = craft.entries.section("edutapety").all() %}
    {% for entry in wallpapers %}
        {% for wp in entry.wallpaper.all() %}
            <div class="main__img-box" data-edu-level="{{ wp.eduLevel }}" data-edu-category="{{ wp.eduCategory.one() }}">
                <div class="main__img-wrapper">
                    {% set img = wp.eduCover | length ? wp.eduCover.one().getUrl() : null %}
                    <img src="{{ img }}" alt="{{ wp.eduCover.one() }}" class="main__img">
                    <img src="./dist/img/download-icon.png" alt="download" class="main__img-down">
                </div>
                <div class="img-box__info">
                    <p class="img-box__rate">{{ wp.eduLevel.value }}</p>
                    {% set img = wp.eduCategory.one().icon | length ? wp.eduCategory.one().icon.one().getUrl() : null %}
                    <img src="{{ img }}" alt="{{ wp.eduCategory.one().icon }}" class="img-box__category">
                    <p class="img-box__index">1</p>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</main>