<header class="header">
    <div class="hamburger-box">
        <div class="hamburger"></div>
    </div>
    <div class="header__box">
        <div class="header__logo">
            {% set home = craft.entries.section("homeFlience").one() %}
            {% set flashcard = craft.entries.section("flashcardsPage").one() %}
            {% set img = flience.logoImage | length ? flience.logoImage.one().getUrl() : null %}
            <a href="{{ home.url }}"><img src="{{ img }}" alt="logo" class="header__logo-img"></a>
        </div>
        <div class="header__selection">
            <a href="{{ home.url }}" class="header__selection--wallpapers">Wallpapers</a>
            <a href="{{ flashcard.url }}" class="header__selection--flashcards">Flashcards</a>
        </div>
        <div class="header__flex-box">
            <div class="header__rates-box">
                <div class="rate rate-1">
                    <img src="./dist/img/level-a.png" data-level="a" alt="level-a" class="rate__wrapper">
                </div>
                <div class="rate rate-2">
                    <img src="./dist/img/level-b.png" data-level="b" alt="level-b"  class="rate__wrapper">
                </div>
                <div class="rate rate-3">
                    <img src="./dist/img/level-c.png" data-level="c" alt="level-c"  class="rate__wrapper">
                </div>
            </div>
            <div class="icons">
                {% for entry in craft.categories.group("categories").all() %}
                    {% set img = entry.icon | length ? entry.icon.one().getUrl() : null %}
                    <div class="icons__icon-box" data-category="{{ entry.title }}"><img src="{{ img }}" alt="icon" class="icons__icon"></div>
                {% endfor %}
            </div>
            {% if currentUser %}
                <div class="header__sign-out">
                    <p class="hello-user">Hello,<br>{{currentUser}}</p>
                    <a href="{{ logoutUrl }}">Sign out</a>
                </div>
            {% else %}
                {% include "sign.html" %}
            {% endif %}
        </div>
    </div>
</header>