<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flience</title>
    <link rel="stylesheet" type="text/css" href="./dist/css/style.css">
</head>
<body>
    {% if currentUser %}
        {% include "popup.html" %}
    {% endif %}
    {% include "social.html" %}
    {% include "languages/screenflies/header.html" %}
    {% include "languages/screenflies/body.html" %}
    {% include "footer.html" %}
    {% include "alert.html" %}

    <script src="./dist/js/main.js" type="module"></script>
</body>
</html>