<main class="main">
    <img src="./dist/img/filtr-off.png" alt="filtr__off" class="filtr-off">
    {% set flashcards = craft.entries.section("flashcards").all() %}
    {% for entry in flashcards %}
      <div class="main__img-box">
        <div class="main__img-wrapper">
        {% for fc in entry.addFlashcards.all() %}
          {% if fc.type == "flashcard" %}
            {% set img = fc.flashcardImage | length ? fc.flashcardImage.one().getUrl() : null %}
            <img src="{{ img }}" alt="" class="main__img">
            <div class="main__img-langs">
          {% else %}
              <div class="langs__item" data-link="{{ fc.image.one().getUrl() }}">{{ fc.languageItem.one().shortcut }}</div>
          {% endif %}
        {% endfor %}
        </div>
        </div>
      </div>
    {% endfor %}
</main>