<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flience</title>
    <link rel="stylesheet" type="text/css" href="./dist/css/flashcardStyle.css">
</head>
<body>
    {% include "social.html" %}
    {% include "flashcardHeader.html" %}
    {% include "flashcardBody.html" %}
    {% include "footer.html" %}
    {% include "alert.html" %}

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="./dist/js/flashcards.js"></script>
</body>
</html>