<main>
  <section class="header">
    <h1 class="header__title">EVOLUTION IN EDUCATION!</h1>
    <h2 class="header__subtitle">well designed educational aids</h2>
  </section>
  <section class="ad">
    <p class="ad__text">We seidgn educational aids for all regardless of age. Our materials can be downloaded for free - all you need to do is create an account on out website</p>
    <button class="ad__create-acc btn-orange">CREATE FREE ACCOUNT</button>
  </section>
  <section class="materials">
    <div class="materials__text">We have materials for foreign language learing, maths and physics in our resources. We are constantly expanding our product base.</div>
    <div class="flashcards">
      <figure class="flashcards__math">
        <img src="" alt="">
        <figcaption>flashcards do learn <span class="bold">mathetics</span></figcaption>
      </figure>
      <figure class="flashcards__lang">
        <img src="" alt="">
        <figcaption>flashcards do learn <span class="bold">foreign languages</span></figcaption>
      </figure>
    </div>
  </section>
  <section class="newsletter">
    <div class="newsletter__text">
      <p>Do you want to keep up with our new materials?</p>
      <p class="bold">Subscribe to our newsletter!</p>
    </div>
    <div class="newsletter__box">
      <input type="text" class="newsletter__input">
      <button class="btn-orange">subscribe</button>
    </div>
  </section>
</main>