<footer class="footer">
    <div class="footer__box">
        {% set img = flience.footerImage | length ? flience.footerImage.one().getUrl() : null %}
        <img src="{{ img }}" alt="bird" class="footer__img">
        <div class="footer__social-box">
            <div class="social-box__icons">
                {% for entry in flience.socialMediaFooter %}
                    {% set img = entry.socialMediaIcon | length ? entry.socialMediaIcon.one().getUrl() : null %}
                    <a href="{{ entry.socialMediaLink }}"><img src="{{ img }}" alt="icon" class="footer__social-icon"></a>
                {% endfor %}
            </div>
            <div class="social-box__hole">
            </div>
        </div>
    </div>
    <div class="footer__bar">
        <p class="footer__bar-caption">
            <a href="#">{{ flience.footerCaption }}</a>
        </p>
    </div>
</footer>