<header class="header">
    <div class="header__box">
        <div class="header__logo">
            {% set home = craft.entries.section("homeFlience").one() %}
            {% set lang = craft.entries.section("langCardfliesFlience").one() %}
            {% set math = craft.entries.section("mathsCardfliesFlience").one() %}
            {% set img = flience.logoImage | length ? flience.logoImage.one().getUrl() : null %}
            <a href="{{ home.url }}"><img src="{{ img }}" alt="logo" class="header__logo-img"></a>
        </div>
        <div class="header__flex-box">
            <select name="" id="" class="header__select">
                <option href="{{ lang.url }}" class="header__selection--wallpapers"></option>
                <option href="{{ math.url }}" class="header__selection--flashcards">Flashcards</option>
            </select>
            <div class="header__download-box">
                <img src="./dist/img/download-icon.png" alt="download" class="header__download">
                <div class="header__download--count">0</div>
            </div>
            {% if currentUser %}
                <div class="header__sign-out">
                    <p class="hello-user">Hello,<br>{{currentUser}}</p>
                    <a href="{{ logoutUrl }}">Sign out</a>
                </div>
            {% else %}
                {% include "sign.html" %}
            {% endif %}
        </div>
    </div>
</header>