<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flience</title>
    <link rel="stylesheet" type="text/css" href="./dist/css/style.css">
    <style>
        .header__flex-box {
            height: auto;
        }
    </style>
</head>
<body>
    {% include "header.html" %}
    {% include "body.html" %}
    {% include "footer.html" %}

    <script src="./dist/js/home.js" type="module"></script>
    <!-- <script src="./dist/js/hamburger.js" type="module"></script> -->
</body>
</html>