<div class="popup">
    <div class="popup__wrapper">
        <div class="popup__arrow popup__arrow--left"></div>
        <div class="popup__arrow popup__arrow--right"></div>
        <div class="popup__count"><span class="popup__count--cur">1</span> / <span class="popup__count--max"></span></div>
        <div class="popup__close"></div>
        {% set index = 0 %}
        {% set wallpapers = craft.entries.section("edutapety").all() %}
        {% for entry in wallpapers %}
            {% for wp in entry.wallpaper.all() %}
                <div class="popup__content">
                    <div class="popup__left">
                        <div class="popup__info">
                            <p class="popup__info-level">{{ wp.eduLevel.value }}</p>
                            {% set img = wp.eduCategory.one().icon | length ? wp.eduCategory.one().icon.one().getUrl() : null %}
                            <img src="{{ img }}" alt="{{ wp.eduCategory.one().icon }}" class="popup__info-icon">
                            <p class="popup__info-index"></p>
                        </div>
                        <div class="popup__selection">
                            <img src="./dist/img/popup/steps.png" class="popup__selection-steps">
                            <div class="popup__selection-lang">
                                <ul class="lang">
                                    {% for lang in wp.eduLang.all() %}
                                        <li class="lang__item">{{ lang.shortcut }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="popup__selection-res">
                                <div class="input">
                                    <span class="input__selected"></span>
                                    <div class="input__select-box">
                                        <ul class="input__options">
                                            <li class="input__option input__option--1">1920x1080</li>
                                            <li class="input__option input__option--2">1024x720</li>
                                            <li class="input__option input__option--3">3440x1440</li>
                                            <li class="input__option input__option--4">1600x1200</li>
                                            <li class="input__option input__option--5">1280x720</li>
                                        </ul>
                                        <div class="input__nav">
                                            <img src="./dist/img/popup/arrow-up.png" alt="arrow-up" class="input__nav-arrow--up">
                                            <img src="./dist/img/popup/arrow-down.png" alt="arrow-down" class="input__nav-arrow--down">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="input">
                                    <img src="./dist/img/filtr-off.png" alt="res" class="input__icon">
                                </div> -->
                            </div>
                            <div class="popup__selection-dow">
                                <div class="popup__selection-dow--btn">
                                    {% set download = wp.eduWallpaper.one().url() ? wp.eduWallpaper.one().url() : "" %}
                                    <!-- <a class="download" href="{{ download }}" download="{{ download }}"></a> -->
                                    <a class="download"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set img = wp.eduCover | length ? wp.eduCover.one().getUrl() : null %}
                    <div style="background-image: url('{{ img }}');" class="popup__right">
                    </div>
                    {% for dow in wp.eduWallpaper.all() %}
                        {% set img = dow | length ? dow.getUrl() : null %}
                        <img style="display: none" src="{{ img }}" alt="img" class="img-to-download">
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>