<div class="header__sign">
    <p class="header__sign--up">Sign Up</p>
    <p class="header__sign--in">Sign In</p>
    <div class="sign-box signup-box">
        <form method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="users/save-user">
            {{ redirectInput('') }}
        
            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}
        
            {% from _self import errorList %}
        
            <input id="username" type="text" name="username" placeholder="Username"
                {%- if user is defined %} value="{{ user.username }}"{% endif -%}>
        
            {% if user is defined %}
                {{ errorList(user.getErrors('username')) }}
            {% endif %}
        
            <input id="email" type="text" name="email" placeholder="Email"
                {%- if user is defined %} value="{{ user.email }}"{% endif %}>
        
            {% if user is defined %}
                {{ errorList(user.getErrors('email')) }}
            {% endif %}
        
            <input id="password" type="password" name="password" placeholder="Password">
        
            {% if user is defined %}
                {{ errorList(user.getErrors('password')) }}
            {% endif %}
        
            <input type="submit" value="Register">
        </form> 
    </div>
    <div class="sign-box signin-box">
        <form method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="users/login">
        
            <input id="loginName" type="text" name="loginName" placeholder="Username or email"
                value="{{ craft.app.user.rememberedUsername }}">
        
            <input id="password" type="password" name="password" placeholder="Password">
        
            <input type="submit" value="Login">
        
            {% if errorMessage is defined %}
                <p>{{ errorMessage }}</p>
            {% endif %}
        </form>
    </div>
</div>