<div class="social">
    {% for entry in flience.socialMedia %}
    {% set img = entry.socialMediaIcon | length ? entry.socialMediaIcon.one().getUrl() : null %}
        <a href="{{ entry.socialMediaLink }}"><img src="{{ entry.socialMediaIcon.one().getUrl() }}" alt="fb" class="social__icon"></a>
    {% endfor %}
</div>